/* COLORS */
$primary: #f4623a !default;
$secondary: #6c757d !default;

$brown: #5c4d42 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$success: #28a745 !default;
$warning: #ffc107 !default;
$white: #fff !default;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "node_modules/bootstrap/scss/variables";

/* BREAKPOINT */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Custom variables */
$navbar-height: 72px;

/* FONTS */
$font-family-sans-serif: "Merriweather Sans",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji' !default;
$font-weight-bold: 700 !important;

/* SHADOW */
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);